from livekit.agents import Agent, RunContext, function_tool
from livekit.agents.runtime import run_server
from tools import *

# Define your agent
agent = Agent(
    description="Friday is an AI assistant that helps with tasks like calling, emails, battery status, and more.",
    tools=[
        get_weather,
        search_web,
        make_call,
        notify_incoming_call,
        battery_status,
        play_music,
        take_photo,
        add_appointment,
        get_local_time,
        send_email,
        translate_text,
        get_news,
        get_traffic_details,
        analyze_appearance,
        request_app_lock
    ],
)

# Run the agent server
if __name__ == "__main__":
    run_server(agent)
