# Core
requests
python-dotenv
duckduckgo-search

# Google
googleapis-common-protos
google-api-core
google-auth
google-cloud-speech
google-cloud-texttospeech

# LiveKit and Plugins
livekit
livekit-api
livekit-protocol
livekit-agents
livekit-plugins-openai
livekit-plugins-silero
livekit-plugins-google
livekit-plugins-noise-cancellation

# AI tools
openai
onnxruntime

# LangChain stack
langchain
langchain-core
langchain_community
langchain-text-splitters

# Utils
dataclasses-json
coloredlogs
pydantic
pydantic-core
pydantic-settings
